/* --------------------------------------------------------------
# Variables
-------------------------------------------------------------- */
:root {
  --black: #000;
  --header-height: 60px;
  --light-background: #f8f9fa;
}

/* --------------------------------------------------------------
# Custom Styles
-------------------------------------------------------------- */
.bg-light {
  background-color: var(--light-background) !important;
  color: var(--black) !important;
}
