/* --------------------------------------------------------------
# Vendors
-------------------------------------------------------------- */
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~aos/dist/aos.css";

/* --------------------------------------------------------------
# Base
-------------------------------------------------------------- */
@import "./components/base";

/* --------------------------------------------------------------
# Components
-------------------------------------------------------------- */
@import "./components/header";
@import "./components/hero";
@import "./components/cta";
@import "./components/clients";
@import "./components/testimonials";
@import "./components/footer";
@import "./components/top";
@import "./components/preloader";

@import "./custom.scss";
