.clients {
  background: #fff;
  padding: 15px 0;
  text-align: center;

  img {
    display: inline-block;
    -webkit-filter: grayscale(100);
    filter: grayscale(100);
    padding: 15px 0;
    transition: all 0.4s ease-in-out;
    width: 50%;

    &:hover {
      -webkit-filter: none;
      filter: none;
      transform: scale(1.2);
    }

    @media (max-width: 768px) {
      width: 40%;
      margin-bottom: 20px;
    }
  }
}
