/* --------------------------------------------------------------
# Hero
-------------------------------------------------------------- */
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    #fff url("/img/backgrounds/hero-bg.jpg") no-repeat center top;
  background-attachment: fixed;
  background-size: cover;
  padding: 17% 0;

  h2 {
    font-size: 70px;
    font-weight: 700;
  }

  @media (max-width: 768px) {
    padding: calc(17% + 60px) 0 calc(15%);
    background-attachment: inherit;
    background-size: cover;

    h2 {
      font-size: 40px;
    }
  }
}
