/* --------------------------------------------------------------
# Content
-------------------------------------------------------------- */
body {
  margin: 0;
  font-family: Muli, sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.875;
  color: var(--black);

  h3 {
    font-size: 24px;
    letter-spacing: -1px;
    font-weight: 700;
  }
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
  border-bottom: 3px solid var(--black);
}

/* --------------------------------------------------------------
# Section
-------------------------------------------------------------- */
section {
  padding: 100px 0;
  .section-title {
    font-size: 48px;
    font-weight: 900;
    letter-spacing: -1;
    margin-bottom: 48px;
    position: relative;
  }
  .section-title:after {
    border-bottom: 3px solid #000;
    bottom: -15px;
    content: "";
    height: 40px;
    left: 0;
    position: absolute;
    width: 50px;
  }

  @media (max-width: 768px) {
    padding: 50px 0;
    .section-title {
      font-size: 30px;
    }
  }
}

/* --------------------------------------------------------------
# Main
-------------------------------------------------------------- */
main {
  top: -60px;
  position: relative;
  z-index: 10;
  margin-bottom: calc(100vh - var(--header-height));
}

[data-aos^="hide"][data-aos^="hide"] {
  opacity: 1;
  transition-property: opacity, transform;
}

[data-aos^="hide"][data-aos^="hide"].aos-animate {
  opacity: 0;
  transform: translate(0);
}

@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

.team img,
.portfolio img,
.testimonials img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%) brightness(80%);
}

/* --------------------------------------------------------------
# Disable aos animation delay on mobile devices
-------------------------------------------------------------- */
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
    transition-duration: 0 !important;
  }
}

.navbar-light .navbar-toggler {
  border: none;
  z-index: 10;
}
@media (max-width: 768px) {
  .navbar-collapse {
    width: 50%;
    position: fixed;
    top: 0;
    right: 0;
    padding-right: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    height: 100%;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  }

  .navbar-collapse.collapsing {
    height: 100%;
    right: -75%;
    transition: height 0s ease;
  }

  .navbar-collapse.show {
    height: 100%;
    right: 0;
    transition: right 400ms ease-in-out;
  }

  .navbar-toggler.collapsed ~ .navbar-collapse {
    transition: right 400ms ease-in;
  }
}
