/* --------------------------------------------------------------
# Glide Slider
-------------------------------------------------------------- */
.glide__arrow {
  border: none;
  background-color: #000;
  border-radius: 50%;
  padding: 5px;
  top: 80%;
  transition: all 0.4s;

  &:hover {
    background-color: #808992;
  }
}
.glide__arrow--left {
  left: 15px;
}
.glide__arrow--right {
  right: 15px;
}

.glide__bullets {
  transform: translateX(0);
  left: calc(50% - 25px) !important;
  bottom: -20px;

  .glide__bullet {
    background-color: #ccc !important;
  }
  .glide__bullet--active {
    background-color: #000 !important;
  }
}
