.preloader {
  background: #fff;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
  &:before {
    animation: animate-preloader 1s linear infinite;
    border-radius: 50%;
    border: 6px solid #000;
    border-top-color: #fff;
    content: "";
    height: 60px;
    left: calc(50% - 30px);
    position: fixed;
    top: calc(50% - 30px);
    width: 60px;
  }
}
@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }
}
