.testimonials {
  .testimonial-image img {
    display: block;
    float: left;
    height: 64px;
    margin-right: 15px;
    width: 64px;
  }

  .testimonial-content {
    overflow: hidden;
  }
}

.team img {
  max-width: 60%;
  margin: 0 0 30px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%) brightness(80%);
}
