/* --------------------------------------------------------------
# Hero
-------------------------------------------------------------- */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.875;

  h3 {
    font-size: 24px;
    letter-spacing: -1px;
    font-weight: 700;
  }
}

/* --------------------------------------------------------------
# Section
-------------------------------------------------------------- */
section {
  padding: 100px 0;
  .section-title {
    font-family: "Muli, Helvetica Neue", sans-serif;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: -1;
    margin-bottom: 48px;
    position: relative;
  }
  .section-title:after {
    border-bottom: 3px solid #000;
    bottom: -15px;
    content: "";
    height: 40px;
    left: 0;
    position: absolute;
    width: 50px;
  }

  @media (max-width: 768px) {
    padding: 50px 0;
  }
}

/* --------------------------------------------------------------
# Main
-------------------------------------------------------------- */
main {
  position: relative;
  z-index: 10;
  margin-bottom: calc(100vh - var(--header-height));
}

[data-aos^="hide"][data-aos^="hide"] {
  opacity: 1;
  transition-property: opacity, transform;
}

[data-aos^="hide"][data-aos^="hide"].aos-animate {
  opacity: 0;
  transform: translate(0);
}

@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

.team img,
.portfolio img,
.testimonials img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%) brightness(80%);
}
