/* --------------------------------------------------------------
# Section
-------------------------------------------------------------- */

section {
  padding: 100px 0;
  .section-title {
    font-family: "Muli, Helvetica Neue", sans-serif;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: -1;
    margin-bottom: 48px;
    position: relative;
  }
  .section-title:after {
    border-bottom: 3px solid #000;
    bottom: -15px;
    content: "";
    height: 40px;
    left: 0;
    position: absolute;
    width: 50px;
  }

  @media (max-width: 768px) {
    padding: 50px 0;
  }
}
